@import '~config';

.login {
  background-image: linear-gradient(to bottom, #ffffff, #ebf7ff);
  min-height: 100vh;
  padding: 20px 15px 22px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 9.5px 0 13px;
    &-logo {
      width: 153px;
      height: 58px;
    }
  }

  &__socials {
    margin-top: 39px;
    &-item {
      margin-top: 35px;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__divider {
    margin-top: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 20px;

    &-field {
      margin-bottom: 16px;
    }

    &-button {
      width: 244px;
    }

    &-utility {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      &-link {
        text-decoration: none;
        font-size: 1.125em;
        color: #377fea;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #dddddd;
    padding-top: 30px;
    &-button {
      width: 124px;
    }
  }
}
