@import '~config';

.line-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-right: 100px;
    &:after {
      position: absolute;
      content: '';
      top: 15px;
      left: 63px;
      width: 146px;
      height: 3px;
      background-color: #ddd;
    }
    &:last-child {
      margin-right: 0;
      margin-left: 14px;
    }
    &:last-child:after {
      content: none;
    }
    &-circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #dddddd;
      margin-bottom: 2px;
    }
    &-title {
      font-size: 1.125em;
      font-weight: @fontWeightBold;
      color: #12202b;
      opacity: 0.3;
    }
    &_active > .line-tabs__item {
      &-circle {
        background-color: #377fea;
      }
      &-title {
        opacity: 1;
      }
    }
    &_completed > .line-tabs__item {
      &-circle {
        background-color: #8bbf84;
      }
    }
  }
}
