@import '~config';

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: @borderRadius;
  background: white;
  width: 100%;
  padding: 15px 0 14px;

  &_Facebook {
    border: solid 1px #3b5998;
    color: #3b5998;
  }

  &_Google {
    border: solid 1px #dc4e41;
    color: #dc4e41;
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  &__title {
    font-size: 15px;
    font-weight: @fontWeightBold;
  }
}
