@import '~config';

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffffff, #ebf7ff);
  padding: 24px 0 15px;
  min-height: 100vh;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 723px;
    text-align: center;
    margin-top: 15px;
    color: #12202b;

    &-logo {
      width: 310px;
      height: 55px;
    }

    &-title {
      font-size: 1.500em;
      margin: 16px 0 10px;
    }

    &-second-title {
      color: #12202b;
      opacity: 0.6;
      font-size: 1.313em;
      font-weight: 400;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 24px 0 15px;
    background-color: #fff;
    border: solid 1px #dddddd;
    border-radius: @borderRadius;

    &-picture {
      display: flex;
      justify-content: center;
      .icon {
        width: 100px;
        height: 91px;
      }
    }
  }
  &__basic {
    padding: 19px 29px 24px;
    &-main {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
    &-form {
      width: 355px;

      .input-field__label {
        font-size: 1.125em;
      }

      &-description {
        margin-top: 5px;
        font-size: 0.813em;
        color: #12202b;
        opacity: 0.6;
        text-align: left;
        font-weight: @fontWeightBold;
      }

      .icon:first-child {
        width: 190px;
        height: 14px;
      }

      .icon:last-child {
        width: 16px;
        height: 20px;
      }

      .input-field {
        margin-top: 21px;
        &:first-child {
          margin-top: 0;
        }
      }

      &-button {
        display: block;
        margin: 39px auto 16px;
        width: 289px;
        height: 47px;
        font-size: 1.313em;
      }
    }
    &-socials {
      position: relative;
      padding: 17px 32px 0 90px;

      &-title {
        display: flex;
        justify-content: center;
        font-weight: @fontWeightBold;
        color: #12202b;
        font-size: 1.125em;
      }

      .social-button {
        padding: 10px 0 10px;
          &__title {
            font-size: 1.125em;
          }
        }

      &-item {
        margin-top: 20px;
        width: 289px;
        height: 47px;
      }

      &:before {
        position: absolute;
        content: "";
        top: 8px;
        left: 28px;
        width: 1px;
        height: 285px;
        background-color: #ddd;
      }
    }

    &-divider {
      display: none;
      margin: 39px 0 29px;
    }
  }
  &__password {
    padding: 38px 29px 40px;

    .signup__item-picture {
      position: relative;
      right: 10px;
      .icon {
        width: 117px;
        height: 111px;
      }
    }

    .input-field__label {
      font-size: 1.125em;
      margin-bottom: 10px;
    }

    &-form {
      width: 356px;
      margin-top: 39px;

      &-title {
        position: relative;
        margin: 10px 0 0 21px;
        font-size: 0.813em;
        color: #12202b;
        opacity: 0.6;
        &:before {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          left: -21px;
          top: 2px;
          border-radius: 50%;
          background-color: #717980;
        }
      }

      &-button {
        display: block;
        margin: 36px auto 0;
        width: 289px;
        font-size: 1.313em;
      }
    }
  }
  &__school {
    padding: 20px 23px 40px 35px;

    .signup__item-picture {
      .icon {
        width: 100px;
        height: 85px;
      }
    }

    &-title {
      text-align: center;
      margin: 14px 0 1px;
      font-size: 1.125em;
    }

    .input-field__label {
      font-size: 1.125em;
      margin-top: 20px;
    }

    &-form {
      width: 356px;
      &-button {
        display: block;
        margin: 23px auto 0;
        width: 289px;
        font-size: 1.313em;
      }
    }
  }
  &_withStart {
    .signup {
      &__header {
        display: none;
      }

      &__start-header {
        display: block;
      }
    }

    .line-tabs {
      order: -1;
    }

    .input-field__icon {
      display: none;
    }
  }
  &:not(.signup_withStart) {
    .line-tabs {
      .line-tabs__item:first-child {
        display: none;
      }
    }
  }

  &__start {
    padding: 21px 15px 46px;

    .input-field__label {
      font-size: 1.125em;
    }

    .signup__header {
      width: auto;

      &-logo {
        width: 225px;
        height: 40px;
      }

      &-title {
        font-size: 1.125em;
        margin: 20px 0 133px;
      }

      &-second-title {
        color: #12202b;
        opacity: 0.6;
        font-size: 1.125em;
      }
    }

    &-header {
      margin-top: 156px;
    }

    &-button {
      display: block;
      width: 244px;
      margin: 20px auto;
    }
  }
}

@media (max-width: 960px) {
  .signup {
    &__item {
      border: 0;
      background-color: transparent;
      margin: 0;
    }

    &__basic {
      padding: 35px 15px 46px;

      .signup__item-picture {
        display: none;
      }

      &-main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 0;
      }

      &-socials {
        width: 356px;
        padding: 0;
        &-item {
          margin-left: auto;
          margin-right: auto;
        }

        &:before {
          display: none;
        }
      }
      &-divider {
        display: block;
      }

      .signup__basic-form-description {
        display: none;
      }
    }

    &__password {
      padding: 65px 15px 46px;
      &-form {
        &-button {
          margin-top: 86px;
        }
      }
    }

    &__school {
      padding: 59px 15px 46px;
      &-form {
        &-button {
          margin-top: 60px;
        }
      }
    }
  }
}

@media (max-width: 495px) {
  .signup {
    &__basic {
      padding: 35px 15px 46px;

      &-socials {
        width: 345px;
        padding: 0;
      }
    }

    &__password {
      &-form {
        width: 345px;
        &-button {
          width: 244px;
        }
      }
    }
    &__school {
      &-form {
        width: 345px;
        &-button {
          width: 244px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .signup {
    &__basic {
      &-socials {
        width: 290px;
        padding: 0;
        &-item {
          width: 250px;
        }
      }

      &-form {
        width: 290px;
        &-button {
          width: 250px;
        }
      }
    }
  }
}
