@import '~config';

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffffff, #ebf7ff);
  padding: 24px 0 15px;
  min-height: 100vh;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 723px;
    text-align: center;
    margin-top: 15px;
    color: #12202b;
    &-logo {
      width: 310px;
      height: 55px;
    }
    &-title {
      font-size: 1.500em;
      margin-bottom: 10px;
    }
    &-second-title {
      color: #12202b;
      opacity: 0.6;
      font-size: 1.313em;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0 15px;
    background-color: #fff;
    border: solid 1px #dddddd;
    border-radius: @borderRadius;
    &-picture {
      display: flex;
      justify-content: center;
      .icon {
        width: 100px;
        height: 91px;
      }
    }
  }
  &__basic {
    padding: 20px 29px 24px;
    &-main {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
    &-form {
      width: 356px;
      &-description {
        margin-top: 5px;
        font-size: 0.813em;
        color: #12202b;
        opacity: 0.6;
        text-align: left;
        font-weight: @fontWeightBold;
      }
      .icon:first-child {
        width: 19px;
        height: 14px;
      }
      .icon:last-child {
        width: 16px;
        height: 20px;
      }
      .input-field {
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
      &-button {
        display: block;
        margin: 39px auto 16px;
        width: 289px;
        font-size: 1.313em;
      }
    }
    &-socials {
      position: relative;
      padding: 9px 32px 0 90px;
      &-title {
        display: flex;
        justify-content: center;
        font-size: 1.125em;
        font-weight: @fontWeightBold;
        color: #12202b;
      }
      &-item {
        margin-top: 20px;
        width: 289px;
      }
      &:before {
        position: absolute;
        content: "";
        top: 1px;
        left: 27px;
        width: 1px;
        height: 285px;
        background-color: #ddd;
      }
    }
  }
  &__password {
    padding: 38px 29px 40px;
    .signup__item-picture {
      .icon {
        width: 117px;
        height: 111px;
      }
    }
    .input-field__label {
      font-size: 1.125em;
      margin-bottom: 10px;
    }
    &-form {
      width: 356px;
      margin-top: 39px;
      &-title {
        position: relative;
        margin: 10px 0 0 21px;
        font-size: 0.813em;
        color: #12202b;
        opacity: 0.6;
        &:before {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          left: -21px;
          top: 2px;
          border-radius: 50%;
          background-color: #717980;
        }
      }
      &-button {
        display: block;
        margin: 36px auto 0;
        width: 289px;
        font-size: 1.313em;
      }
    }
  }
  &__school {
    padding: 20px 23px 40px 35px;
    .signup__item-picture {
      .icon {
        width: 100px;
        height: 85px;
      }
    }
    &-title {
      text-align: center;
      margin: 14px 0 1px;
      font-size: 1.125em;
    }
    .input-field__label {
      font-size: 1.125em;
      margin-top: 20px;
    }
    &-form {
      width: 356px;
      &-button {
        display: block;
        margin: 23px auto 0;
        width: 289px;
        font-size: 1.313em;
      }
    }
  }
}
