@import '~config';

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffffff, #ebf7ff);
  padding: 24px 0 15px;
  min-height: 100vh;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 723px;
    text-align: center;
    margin-top: 15px;
    color: #12202b;
    &-logo {
      width: 310px;
      height: 55px;
    }
    &-title {
      font-size: 1.500em;
      margin-bottom: 10px;
    }
    &-second-title {
      color: #12202b;
      opacity: 0.6;
      font-size: 1.313em;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0 15px;
    .basic-info {
      width: 825px;
      height: 443px;
      background-color: #fff;
      border-radius: @borderRadius;
      border: solid 1px #dddddd;
      padding: 20px 29px 24px;
      &__icon {
        display: flex;
        justify-content: center;
        .icon {
          width: 100px;
          height: 91px;
        }
      }
      &__main {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        height: 285px;
      }
      &__registration {
        width: 412px;
        padding: 7px 29px 0 0;
      }
      &__signup {
        width: 410px;
        padding: 9px 32px 119px 60px;
        border-left: solid 1px #dddddd;
      }
    }
    .password {
      width: 414px;
      height: 443px;
      background-color: #fff;
      border-radius: @borderRadius;
      border: solid 1px #dddddd;
    }
    .school {
      width: 414px;
      height: 443px;
      background-color: #fff;
      border-radius: @borderRadius;
      border: solid 1px #dddddd;
    }
  }
}
