.notifications {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  &__alert {
    position: absolute;
    top: -3px;
    right: -2px;
    width: 14px;
    height: 14px;
    font-size: 10px;
    color: white;
  }
}
