@import '~config';

.button {
  border-radius: @borderRadius;
  padding: 12px;
  color: white;
  font-size: 1.125em; /* modible only i think */

  &_primary {
    background-color: #377fea;
  }
  
  &_secondary {
    background-color: #8bbf84;
  }
}
