.user-controls {
  display: flex;
  align-items: center;
  &__button-menu {
    margin-right: 17px;
  }
  &__button-notification {
    margin-right: 28px;
  }
  &__username {
    font-size: 18px;
    color: #377fea;
  }
}
